{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('.static', filename='mini-logo.css') }}" >
<link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
<style> .formater { background-color: transparent !important; } </style>
{% endblock %}

{% block title %}
	Login :: Student :: Headstarter
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="header-content-inner container">
            <center>
                <span id="homeHeading" style="border-bottom: 1px solid white;">
                    Headstarter<small>.eu</small>
                </span>
                <br>
                <span>Get your headstart on<br>the road to business.</span>
            </center>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=145071102807525&autoLogAppEvents=1"></script>
<script src="/static/js/fb-login.js"></script>

<div class="offset-md-2 col-md-8">
    <div class="card">
        <div class="card-body">
            <a href="{{ url_for ('student_signup') }}" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <div class="row">
                <form class="col-md-border col-md-7" method="POST">
                    <div class="form-group">
                        <input name="email" class="form-control" placeholder="Email" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input name="password" class="form-control" placeholder="Password" type="password">
                    </div> <!-- form-group// -->
                    <input name="type" type="hidden" value="standard">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="small" href="#">Recover password?</a>
                        </div>
                    </div> <!-- .row// -->
                </form>
                <p class="col-md-border col-md-5">
                    <a href="#" class="btn btn-block btn-outline-primary" onclick="checkLoginState(function(){$('form').submit();});"> <i class="fab fa-facebook-f"></i> Login</a>
                </p>
            </div>
        </article>
    </div> <!-- card.// -->

</div>
{% endblock %}
