alembic==1.6.5
astroid==2.4.2
autopep8==1.5.7
Babel==2.9.1
beautifulsoup4==4.9.3
build==0.3.1.post1
cachelib==0.1.1
cachetools==4.2.2
certifi==2020.11.8
chardet==3.0.4
charset-normalizer==2.0.3
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
dnspython==2.1.0
email-validator==1.1.2
Flask==2.0.1
Flask-Babel==2.0.0
Flask-Migrate==3.0.1
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
google-api-core==1.30.0
google-auth==1.32.0
google-cloud-core==1.7.1
google-cloud-translate==2.0.1
googleapis-common-protos==1.53.0
greenlet==1.0.0
grpcio==1.38.1
h5py==3.1.0
idna==2.10
isort==5.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
Keras==2.4.3
lazy-object-proxy==1.4.3
lxml==4.6.1
Mako==1.1.4
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.19.4
packaging==20.9
pep517==0.10.0
protobuf==3.17.3
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pylint==2.6.0
pyparsing==2.4.7
pyquery==1.4.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyYAML==5.3.1
requests==2.26.0
rsa==4.7.2
scipy==1.5.4
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.12
toml==0.10.2
urllib3==1.26.2
Werkzeug==2.0.1
wrapt==1.12.1
xgboost==1.2.1
xmlrunner==1.7.7
