{% extends 'core/bg/template.html' %}
{% block title %} Как да си избереш професия? {% endblock %}

{% block banner %}
    <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">Как да си избереш професия?</h3>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
      <!-- Welcome to Headstarter.eu -->
      <section class="section section-md">
        <div class="container">
          <div class="row default-styles row-30 align-items-center">
<div class="col-12">
<p>За някои хора отговорът на въпроса „А ти какъв искаш да станеш, като пораснеш?“ изобщо не се е променил в последните 10-15 години. За тях заглавието на тази статия просто няма смисъл – те си знаят точно какво искат да правят и то не се „избира“, а просто се знае. Те са истински късметлии и благородно им завиждаме. Но за повечето от нас <strong>изборът на професия си е задача с повишена трудност.</strong></p>
<p>Какво се случва обикновено? Решаваме къде (България, Англия, Холандия,…) искаме да учим, разглеждаме специалностите, избираме си 2-3, които звучат интересни, обсъждаме с приятели кой какво е избрал и така, без да му мислим кой знае колко, взимаме решение накъде да се насочим. </p>
<p>А какво се случва след това? Близо една трета от приетите студенти сменят специалността си още докато учат. Няма официална статистика каква част остават в същата специалност, без да са особено доволни и мотивирани, но ако разпиташ студентите в почти всеки кампус, ще намериш много такива. Колкото до завършилите, добре известно е, че огромна част от тях не работят по специалността си. Някои защото все пак нещо друго ги влече, а други, понеже им е трудно да си намерят работа в тяхната сфера. Като теглим чертата излиза, че <strong>често университетът не подготвя студентите за работата, а по-скоро им губи времето</strong>…</p>
<p>За да не станеш част от някоя от горните категории, е супер <strong>важно да вземеш избора на професия насериозно още от рано</strong>. Не когато е време да започнеш да работиш, а още докато си в училище. Най-сигурният начин да успееш в която и да е професия е да вземеш <strong>информирано решение</strong>. А това определено включва още няколко стъпки, освен гореизброените. </p>
<ol>
<li><h4>Разбери повече за себе си</h4>
<p>Себепознанието (колкото и странно и остаряло да звучи тази дума) е първото и най-важно условие, но и най-пренебрегваната част от кариерното ориентиране. За да си избереш професия, която няма да смениш след първия стаж или работа в сферата, <strong>трябва да знаеш достатъчно не само за интересите, но и за ценностите си (или какво е важно за теб в работата), силните и слабите си страни, какво те мотивира, как взимаш решения и така нататък</strong>.</p> 
<p>Интересите могат да изглеждат достатъчни за първоначалния избор, но всичко останало, което изброихме горе, е решаващо за самата работа и решенията, които ще взимаш след като вече си влязъл в професионалния свят. Затова ако го пренебрегнеш сега, рискуваш да загубиш доста време и да хвърлиш усилията си на вятъра.</p>
<p>За да разбереш повече за себе си, трябва да си зададеш правилните въпроси. Ще ти е по-лесно да го направиш с приятел, а ако въобще не знаеш откъде да започнеш, можеш да се срещнеш с кариерен консултант. Друг вариант е да направиш <strong>кариерен тест за самооценка, който е създаден специално да ти зададе тези правилни въпроси и да ти даде информацията, която е най-важна за кариерния избор</strong>. <a href="https://nextstep.bg/testove/karierno-orientirane-kandidat-studenti/">Prospera 2.0</a> е точно такъв тест, развит от психолози и попълнен от над 700 ученици от 9 до 12 клас. Разбери повече за него на сайта на <a href="https://nextstep.bg/">NEXTSTEP</a>.</p>
</li>
<li><h4>Информирай се</h4>
<p>За разлика от вътрешната информация от предната точка, която трябва да „извлечем“ от някъде в себе си, външната информация ни залива отвсякъде и по много. <strong>Тук предизвикателството не е да успееш да намериш информация, а да отсееш най-полезната, ценна и достоверна. </strong>Основното ти оръжие тук е критичното мислене, заедно с уменията за проучване. </p>
<p>Не става въпрос само за ровене в Гугъл (въпреки че и то си има своите тънкости), но и за провеждане на информационни интервюта (разговори с хора в индустрията, които могат да споделят личен опит), познания относно пазара на труда, информираност за връзката между специалности и професии, яснота за необходимите умения.</p>
<p>Информацията, която търсиш, в повечето случаи е обективна, или с други думи, факти. В същото време, субективната информация, или мненията, или личният опит, също могат да бъдат супер полезни и определено трябва да се поинтересуваш за преживяванията на различни хора със съответната специалност или професия, преди да направиш избора си. Но винаги имай едно наум, защото в крайна сметка всеки си има различно виждане за нещата и рядко твоят личен опит ще съвпада напълно с този на другите преди теб.</p>
<li><h4>Действай</h4>
<p>Това всеки го може, нали? Скалъпваш мотивационното писмо, подаваш документите и готово. Но има и друго. За да си наистина успешен в която и да е сфера, не е достатъчно да завършиш съответната специалност. <strong>Трябва да си проактивен през цялото време</strong>. С други думи, да се стремиш да завързваш контакти в професионалната си сфера, да посещаваш събития и да трупаш опит, било то доброволно или като платен стажант. </p>
<p>Практиката не само ще ти покаже какво всъщност се „крие“ зад избраната ти професия, но и ще ти помогне да си по-конкурентоспособен и да взимаш по-добри решения за кариерата си. А за да увеличиш максимално шансовете си за успех, най-добре е да си изготвиш <strong>кариерен план с конкретни цели и срокове</strong>. Последните ще се променят с всяка следваща частица опит, но тази структура ще ти помогне да вървиш точно по твоя път, към твоята си професия.</p>
<br><br>

<big><p>Разгледай сайта на <a href="https://nextstep.bg/">NEXTSTEP</a> за статии за студентството и работата, интервюта със студенти и професионалисти и помощ от сертифициран кариерен консултант.</p></big>

<big><p>Научи повече за кариерния тест за самооценка за кандидат-студенти <a href="https://nextstep.bg/testove/karierno-orientirane-kandidat-studenti/">Prospera 2.0</a>.</p></big>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
