{% extends 'core/bg/template.html' %}
{% block title %} Успешно Кандидатстване {% endblock %}

{% block banner %}
    <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">Как да си направим CV?</h3>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
      <!-- Welcome to Headstarter.eu -->
      <section class="section section-md">
        <div class="container">
          <div class="row default-styles row-30 align-items-center">
            <div class="col-12">
                <p>Изпращането на CV е първата крачка в процеса на кандидатстване за стажантска програма. А за да заинтригува евентуалния работодател и да го мотивира да те покани на интервю в най-кратък срок, CV-то трябва да бъде успешно написано.</p>
                <p>Какво означава това?</p>
                <p>Информацията  трябва да е достъпна, кратка и атрактивна и да представя уменията, способностите и професионалния ти опит в най-добрата светлина.</p>
<br>
                <p>Общоприетият синоним за „автобиография“ - CV, всъщност е абревиатура от латинското наименование Curriculum vitae, което в буквален превод означава „Историята на моя живот“. Казано с по-прости думи, CV е кратко резюме от лични и професионални факти, които сa условие при кандидатстване за нова работа (или учебно заведение) и чрез които работодателят разбира дали кандидатът е подходящ за
                    позицията.</p>
                <br>
                <p>Въпреки че стандартите за писане на CV в различните държави се разминават, навсякъде документът има една и съща цел – да представи картина на цялата ти професионална история. В България е наложен европейският формат за CV – Еuropass, чието предназначение е да улесни приемствеността между кандидатите с различни националности, признавайки техните способности извън езиковата бариера. Освен това
                    Europass признава и квалификациите, добити от нелегитимни образователни или работни институции.</p>
<br>
                <p>Наличието на универсална CV форма обаче не означава, че само трябва да попълниш графите, изреждайки всичко, което ти дойде на ум. Трябва да подбереш качествата си, които смяташ за свой най-голям приоритет и с които би могъл да заинтригуваш веднага вниманието на този, който разглежда CV-то ти. Според проучванията средностатистическият работодател чете автобиографиите на кандидатите между 20 и
                    30 секунди и прави избора си на базата на моментални впечатления. А измежду 100 CV молби, работодателят със сигурност няма да губи време да изчита цялата му предоставена информация, нали?</p>
<br>
                <p>И така, какво съдържа едно успешно структурирано CV?</p>
<br>
                <p><strong>Лична информация</strong></p>
                <p>Това е твоята визитка - задължителни са трите имена, адрес, телефон и имейл адрес . Освен тях е желателно да присъстват дата на раждане и националност.</p>
<br>
                <p><strong>Проекти и благотворителни дейности</strong></p>
<p>Като ученик едва ли имаш някакъв трудов опит, камо ли такъв, който да можеш да опишеш (продаването на дъвки в междучасията не се брои). Затова можеш да го замениш с проекти, които си разработвал, както и с благотворителни дейности, с които си се занимавал (отново даването на дъвка на някого в междучасието не се брои). В тази част от CV-то си можеш да включиш и свои награди и постижения, но трябва да внимаваш изключително много, за да не изглеждаш твърде самовлюбен. Не прекалявай с наградите и напиши най-важните, в зависимост от това за какъв стаж искаш да кандидатстваш (Например ученикът Иван иска да кандидатства за стаж като програмист и има пълен брой точки на олимпиадата по информатика; никой няма да го интересува това, че Иван е спечелил готварско състезание в квартала).
</p><br>
<p><strong>Образование и обучение</strong></p>
<p>Предполагайки, че си все още ученик и нямаш средно или висше, тук можеш да опишеш всичките си странични способности и придобити умения - чужди езици, компютърна грамотност, комуникативност, технически познания и специализирани курсове. Ако смяташ, че ще е от значение, поясни мястото, където си ги усвоил, както и нивото на боравене. В много случаи именно тези допълнителни умения надделяват в избора на служители.
</p><br>
<p><strong>Допълнителна информация</strong></p>
<p>Тук можеш да впишеш всяка допълнителна информация, която смяташ, че ще е от полза за кандидатурата ти. Това може да са страничните ти хобита и интереси, лица за контакти, сертификати, членуване в организации и лична интернет страница (блог).
</p><br>
<p>Успешно написаното CV се отличава с грамотност, структурираност и пригледност. То трябва да е не по-дълго от 3 страници във формат А4, напечатано на компютър (и принтирано, ако се подава лично) и с прикачена снимка (може да използваш тази от бележника). Използват се книжовни думи и изрази, стегнат изказ и точни факти. Не забравяй - чрез CV-то ти „продаваш“ себе си пред работодателя и се очаква онова, което е написано да отговаря на действителните ти качества и умения. Опитай се да не преувеличаваш.
</p><br>
<p>Успешно написаното CV не ти гарантира позиция, но със сигурност ще те нареди сред привилегированите. Формално написаното CV (а то се разпознава лесно) може да провали шансовете ти да получиш работата на мечтите си.
</p>
            </div>
          </div>
        </div>
      </section>

{% endblock %}