{% extends 'core/bg/template.html' %}
{% block title %} Регистрация Вход {% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
      <!-- Actions -->
      <section class="section section-md text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <h4>Преди да продължиш, моля, влез със своя профил или си направи нов</h4>
              <!-- Bootstrap tabs -->
              <div class="tabs-custom tabs-horizontal tabs-minimal" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                    {% if action == 'register' %}
                  <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-1" data-toggle="tab">Регистрация</a></li>
                      {% else %}
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-1" data-toggle="tab">Регистрация</a></li>
                    {% endif %}
                    {% if action == 'login' %}
                  <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-2" data-toggle="tab">Вход</a></li>
                      {% else %}
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Вход</a></li>
                    {% endif %}
                </ul>
                <!-- Tab panes-->
                <div class="tab-content" style="letter-spacing: .05em;">
                    {% if action == 'register' %}
                  <div class="tab-pane fade active show" id="tabs-1-1">
                      {% else %}
                  <div class="tab-pane fade" id="tabs-1-1">
                    {% endif %}
                      <div id="rd-navbar-register">
                          <form class="rd-form rd-mailform" data-form-output="form-output-global"
                                method="post" action="/register">
                            <!-- data-form-type="contact"
                                 -->
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-register-name1" type="text" name="name" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-register-name1">Име</label>
                            </div>
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-register-email1" type="email" name="email" data-constraints="@Email @Required"/>
                              <label class="form-label" for="rd-navbar-register-email1">E-mail</label>
                            </div>
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-register-password1" type="password" name="password" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-register-password1">Парола</label>
                            </div>
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-register-password-confirm1" type="password" name="password-confirm" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-register-password-confirm1">Повтори паролата</label>
                            </div>
                            {% if type == 'Student' %}
                              <div class="form-wrap">
                                <label class="checkbox-inline">
                                  <input name="member" type="hidden" value="student" class="checkbox-custom"></input>
                                </label>
                              </div>
                            {% endif %}
                            {% if type == 'Company' %}
                              <div class="form-wrap" id="company">
                                <select name="company" class="form-input select form-control-has-validation select2-hidden-accessible" data-placeholder="Choose your company" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                  <option id="notlisted" onselect="" value="Not listed">Няма я твоята фирма?</option>
                                  {% for company in companies %}
                                    <option value="{{company.name}}">{{company.name}}</option> 
                                  {% endfor %}
                                </select>
                                <input name="member" type="hidden" value="company" class="checkbox-custom" />
                                <input id="customcompany" style="display:none;" class="form-input" onchange="$('#notlisted').val($(this).val());" placeholder="Попълни я" type="text"></input>
                              </div>
                            {% endif %}
                            {% if type == 'Teacher' %}
                              <div class="form-wrap" id="teacher">
                                <select name="school" class="form-input select form-control-has-validation select2-hidden-accessible" data-placeholder="Choose your school" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                  {% for school in schools %}
                                    <option value="{{school.name}}">{{school.name}}</option> 
                                  {% endfor %}
                                </select>
                                <input name="member" type="hidden" value="school" class="checkbox-custom" />
                              </div>
                            {% endif %}
                            {% if type == 'Undefined' or type == 'Both' %}
                              <div class="form-check-inline w-25">
                                <label class="form-check-label">
                                  <h5>Аз съм:</h5>
                                </label>
                              </div>
                              <div class="form-check-inline w-25">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="member" value="student"> Ученик
                                </label>
                              </div>
                              <div class="form-check-inline w-25">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="member" value="company"> Служител на фирма
                                </label>
                              </div>
                              <div class="form-check-inline w-25">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="member" value="school"> Представител на училище
                                </label>
                              </div>

                              <div class="form-wrap" id="company">
                                <h5>Коя е Вашата фирма?</h5>
                                <select name="company" class="form-input-inline select form-control-has-validation select2-hidden-accessible" data-placeholder="Choose your company" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                  {% for company in companies %}
                                    <option value="{{company.name}}">{{company.name}}</option> 
                                  {% endfor %}
                                  <option id="notlisted" onselect="" value="Not listed">Няма я Вашата фирма?</option>
                                </select>
                                <input id="customcompany" style="display:none;" class="form-input" onchange="$('#notlisted').val($(this).val());" placeholder="Попълни я" type="text"></input>
                              </div>
                              <div class="form-wrap" id="school">
                                <h5>Кое е Вашето училище?</h5>
                                <select name="school" class="form-input select form-control-has-validation select2-hidden-accessible" data-placeholder="Choose your school" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                  <option id="notlisted" onselect="" value="Not listed">Няма го Вашето училище?</option>
                                  {% for school in schools %}
                                    <option value="{{school.name}}">{{school.name}}</option> 
                                  {% endfor %}
                                </select>
                              </div>
                            {% endif %}
                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                            <div class="g-recaptcha" data-sitekey="{{sitekey}}"></div>
                            <div class="form-wrap">
                              <button class="button button-block button-primary" type="submit">Създай профил</button>
                            </div>
                          </form>
                     </div>
                  </div>
                    {% if action == 'login' %}
                  <div class="tab-pane fade active show" id="tabs-1-2">
                      {% else %}
                  <div class="tab-pane fade" id="tabs-1-2">
                    {% endif %}
                      <div id="rd-navbar-login">
                          <form class="rd-form rd-mailform" data-form-output="form-output-global"
                                method="post" action="/login">
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-login-email1" type="email" name="email" data-constraints="@Email @Required"/>
                              <label class="form-label" for="rd-navbar-login-email1">E-mail</label>
                            </div>
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-login-password1" type="password" name="password" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-login-password1">Парола</label>
                            </div>
                            <div class="form-wrap">
                              <button class="button button-block button-primary" type="submit">Влез</button>
                            </div>
                            <div class="form-wrap">
                              <a class="button k button-primary" 
                                  href="/forgot_password">Забравена парола</a>
                              
                            </div>
                          </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
{% block js %}
<script>
  $('#notlisted').parent().change(function() {
    let selected = $('option:selected').val();
    if (selected == 'Not listed') {
      $('#customcompany').show();
    }
    else {
      $('#customcompany').hide();
    }
  });
  $(document).ready(function () {
      $($('option')[0]).attr('selected', 'selected');
      let selected = $('option:selected').val();
      if (selected == 'Not listed') {
        $('#customcompany').show();
      }
      else {
        $('#customcompany').hide();
      }
  });
</script>   
  {% endblock %}