{% extends 'core/bg/template.html' %}
{% block title %} Нова парола{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
      <!-- Actions -->
      <section class="section section-md text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <h4>Забравена парола?</h4>
              <!-- Bootstrap tabs -->
              <div class="tabs-custom tabs-horizontal tabs-minimal" id="tabs-1">
                <!-- Nav tabs-->
                
                <!-- Tab panes-->
                <div class="tab-content" style="letter-spacing: .05em;">
                  <div class="tab-pane fade active show" id="tabs-1-2">
                      <div id="rd-navbar-login">
                          <form class="rd-form rd-mailform" data-form-output="form-output-global"
                                method="post" action="/forgot_password">
                            
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-login-password1" type="password" name="password" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-login-password1">Нова Парола</label>
                            </div>
                            <div class="form-wrap">
                              <input class="form-input" id="rd-navbar-login-password1" type="password" name="password" data-constraints="@Required"/>
                              <label class="form-label" for="rd-navbar-login-password1">Повтори Парола</label>
                            </div>
                            <div class="form-wrap">
                              <button class="button button-block button-primary" type="submit">Потвърди</button>
                            </div>
                          </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
{% block js %}
<script>
  $('#notlisted').parent().change(function() {
    let selected = $('option:selected').val();
    if (selected == 'Not listed') {
      $('#customcompany').show();
    }
    else {
      $('#customcompany').hide();
    }
  });
  $(document).ready(function () {
      $($('option')[0]).attr('selected', 'selected');
      let selected = $('option:selected').val();
      if (selected == 'Not listed') {
        $('#customcompany').show();
      }
      else {
        $('#customcompany').hide();
      }
  });
</script>   
  {% endblock %}