<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.max.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"> <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="preloader-item">
          <svg width="40" height="40" viewbox="0 0 40 40">
            <polygon class="rect" points="0 0 0 40 40 40 40 0"></polygon>
          </svg>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header -->
      {% if homepage %}
      <header class="section page-header jumbotron-creative">
      {% else %}
      <header class="section page-header">
      {% endif %}
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
               data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">За учениците</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.browse') }}">Обяви</a></li>
                          <!--<li class="rd-dropdown-item"><a class="rd-dropdown-link" href="companies.html">Компании</a></li>-->
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">За фирми</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.post_offer') }}">Нова обява</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.list_my_offers') }}">Моите обяви</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.list_my_candidates') }}">Моите кандидати</a></li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/blog">Блог</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">Други полезни неща</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="about-us.html">За нас</a></li>
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Контакти</a></li>
                          <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">FAQ</a></li>
                        </ul>
                      </li>
                      
                    </ul>
                  </div>
                </div>
                <div class="rd-navbar-aside" style="width: 5px;">
                  <div class="rd-navbar-aside-item" style="width: 5px;">
                    <a style="" href="{{ url_for('login_register', action='register') }}" class="button button-xs button-primary-outline button-icon button-icon-left"><span class="icon mdi mdi-account"></span>Sign Up</a>
                    <a  style="margin-top: 10px; " href="{{ url_for('login_register', action='login') }}" class="button button-xs button-primary-outline button-icon button-icon-left"><span class="icon mdi mdi-import"></span>Login</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        {% block banner %} {% endblock %}
      </header>

      <!-- Alerts -->
          {% if get_flashed_messages(with_categories=true) %}
      <section class="section section-md bg-default text-center">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{category}}" role="alert">
                    {{ message | safe }}
                </div>
            {% endfor %}
      </section>
          {% endif %}

      {% block content %} {% endblock %}

      <!-- Page Footer-->
      <footer class="section footer-creative context-dark">
        <div class="footer-creative-main">
          <div class="container">
            <div class="row row-50 justify-content-lg-between">
              <div class="col-lg-5 col-xl-4">
                <p class="footer-creative-title">Quick Links</p>
                <div class="footer-creative-divider"></div>
                <div class="row row-narrow row-15">
                  <div class="col-6">
                    <ul class="list-marked-1">
                      <li><a href="job-listing-full.html">Browse Jobs</a></li>
                      <li><a href="job-listing.html">Browse Categories</a></li>
                      <li><a href="submit-resume.html">Submit Resume</a></li>
                      <li><a href="companies.html">Companies</a></li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list-marked-1">
                      <li><a href="post-a-job.html">Post a Job</a></li>
                      <li><a href="candidates-grid.html">Find a Candidate</a></li>
                      <li><a href="pricing-tables.html">Pricing Table</a></li>
                      <li><a href="faq.html">FAQ </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <p class="footer-creative-title">Recent News posts</p>
                <div class="footer-creative-divider"></div>
                <div class="post-line-group">
                  <!-- Post Line--><a class="post-line" href="blog-post.html">
                    <time class="post-line-time" datetime="2018"><span class="post-line-time-day">25</span><span class="post-line-time-month">April</span></time>
                    <p class="post-line-text">Canada adds 12,500 jobs in modest July rebound</p></a>
                  <!-- Post Line--><a class="post-line" href="blog-post.html">
                    <time class="post-line-time" datetime="2018"><span class="post-line-time-day">14</span><span class="post-line-time-month">April</span></time>
                    <p class="post-line-text">Outsourcing vs. In-House Digital Marketing</p></a>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <p class="footer-creative-title">Jobs in Popular cities</p>
                <div class="footer-creative-divider"></div>
                <div class="row row-narrow row-15">
                  <div class="col-6">
                    <ul class="list list-1 list-icons">
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>San Francisco</span></a></li>
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>Washington</span></a></li>
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>Sacramento</span></a></li>
                      <li><a href="contact-us.html"><span class="icon icon-sm mdi mdi-map-marker"></span><spam>Контакти</span></spam>a></a></li>
                      

                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list list-1 list-icons">
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>New York</span></a></li>
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>Ontario</span></a></li>
                      <li><a href="job-listing-full.html"><span class="icon icon-sm mdi mdi-map-marker"></span><span>Chicago</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-creative-aside">
          <div class="container">
            <p class="rights"><span>Headstarter</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="/terms">Privacy Policy</a><span>.</span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.max.js"></script>
    <script src="/js/script.max.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>