.row {
	align-items: stretch;
	align-content: stretch;
}
.col-xs-12.col-sm-12.col-md-4.col-lg-4 {
	padding: 10px;
}

.logo_container {
    min-height: 100%;
    display: flex;
	display: -webkit-flex;
    align-items: center;
}

.logo_container .image {
    max-width: 100%;
    max-height: 100%;
    width:auto;
    /*
    float: left;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 1;
    */
    opacity: 1;
}

.logo_container .image_parent {
    width:100%;
    max-width:100%;
    min-width:100%;
    margin: auto;
    /*float: left;*/
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
}

.logo_container:hover .image {
    opacity: 0.5;
}

.logo_container .overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--gray-dark);
    color: white;
}

.logo_container:hover .overlay {
    opacity: 0.75;
}

.logo_container .text {
    color: white;
    font-size: 20px;
}
