:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --headstarter-secondary: rgb(20, 98, 125);
    --headstarter-primary: rgb(0, 81, 95);
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.logo {
    width: 50px !important;
    height: 50px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}

.bg-primary, .bg-headstarter-primary {
    background-color: var(--headstarter-primary) !important;
}

.banner {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;
}

.banner-text {
    text-align: left;
}
@media (max-width: 767.97px) {
    .jumbotron {
        font-size: 1.2em;
    }
    .jumbotron h1{
        font-size: 1.40em;
    }

    #latest .name {
        font-size: 1.15em !important;
        text-decoration: bold;
    }

    .title {
        padding-left: 10px;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .latest-header {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .carousel-item .position .logo-container {
        max-height: 10vh;
        width: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    .carousel-item .logo-container img {
        max-height: 100%;
        width: auto;
    }
}

@media (min-width: 767.98px) {
    .jumbotron {
        font-size: 1.5em;
    }
    .jumbotron h1{
        font-size: 1.95em;
    }
    .jumbotron h2{
        font-size: 1.9em;
    }
    .jumbotron h3{
        font-size: 1.8em;
    }
    .jumbotron h4{
        font-size: 1.7em;
    }
    .jumbotron h5{
        font-size: 1.6em;
    }

    #latest .name {
        font-size: 1.25em !important;
        text-decoration: bold;
    }

    .nopadleft {
        padding-left: 0 !important;
    }
    .nopadright {
        padding-right: 0 !important;
    }

    .latest-header {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .important-button {
        font-size: 1.75em;
    }
    .title {
        padding-left: 10px;
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .position {
        height: 100%;
    }
    .position>.row {
        height: 100%;
    }
    .position>.row>* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.latest-header {
    font-weight: 400;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-headstarter-secondary {
    background-color: var(--headstarter-secondary) !important;
}

.btn.btn-headstarter-secondary {
    color: #fff;
    background-color: var(--headstarter-secondary) !important;
    border-color: var(--headstarter-secondary) !important;
}
.btn.btn-headstarter-primary {
    color: #fff;
    background-color: var(--headstarter-primary) !important;
    border-color: var(--headstarter-primary) !important;
}

.important-button {
    width: 75%;
}

.carousel-inner, .carousel-inner > .carousel-item {
    height: 40vh;
}
.carousel-inner > .carousel-item > .container {
    width: 70%;
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators li {
    background-color: var(--headstarter-secondary);
}
.carousel-indicators li.active {
    background-color: white;/*var(--headstarter-primary);*/
    border: 2px solid black;
}
.carousel-item .logo-container {
    text-align:center
}
.carousel-item .logo-container img {
    display: inline-block;
}
.position h5 {
    font-weight: bolder !important;
}

aside {
    padding-bottom: 20px;
}

footer {
    background-color: var(--headstarter-primary);
    color: white;
	bottom: 0px;
	position: static;
	width: 100%;
	padding: 45px 0;
	margin-top: 100px;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
}
ul.row li {
    list-style: none;
	color: inherit !important;
}
ul.row a {
	text-decoration: none;
	color: inherit !important;
}
.list-title {
	color: white;
}
ul.row {
	color: inherit !important;
}
ul.footer-list {
	margin: 0;
	padding: 0;
}
ul.social {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
	list-style: none;
	content: '';
	display: table;
	clear: both;
}
ul.social li {
	display: inline;
    list-style: none;
	padding: 5px 5px 5px 5px;
}
footer hr {
    background: white;
}