:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --headstarter-secondary: #474a51;/*rgb(20, 98, 125);*/
    --headstarter-primary: #2e3035;/*rgb(71, 74, 81);rgb(0, 81, 95);*/
}

.inline-block {
    display: inline-block !important;
}

.custom-header {
    padding-bottom: 15px;
}

.custom-header > center > div {
    border: 2px solid white;
    border-radius: 15px;
    color: white !important;
    padding: 15px 15px;
}

body {
    /*background-image: linear-gradient(var(--headstarter-primary), lightblue, var(--headstarter-primary)); /* var(--headstarter-secondary),  
    */
	background-color: #2e3035;
}
#heading_banner {
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	background-color: #474a51;
}
body .formater>* {
    padding-left: 15px;
    padding-right: 15px;
}

body .formater>*:first-child {
    padding-top: 15px;
}
body .formater {
    /*background: white;*/
    color: white;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.logo {
    width: 30px !important;
    height: 30px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}

.bg-primary, .bg-headstarter-primary {
    background-color: var(--headstarter-primary) !important;
}

.banner {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;
}

.banner-text {
    text-align: left;
}
@media (max-width: 767.97px) {
    .jumbotron {
        font-size: 1.2em;
    }
    .jumbotron h1{
        font-size: 1.40em;
    }

    #latest .name {
        font-size: 1.15em !important;
        text-decoration: bold;
    }

    .title {
        padding-left: 10px;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .latest-header {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .carousel-item .position .logo-container {
        max-height: 10vh;
        width: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    .carousel-item .logo-container img {
        max-height: 100%;
        width: auto;
    }
}

@media (min-width: 767.98px) {
    .jumbotron {
        font-size: 1.5em;
    }
    .jumbotron h1{
        font-size: 1.95em;
    }
    .jumbotron h2{
        font-size: 1.9em;
    }
    .jumbotron h3{
        font-size: 1.8em;
    }
    .jumbotron h4{
        font-size: 1.7em;
    }
    .jumbotron h5{
        font-size: 1.6em;
    }

    #latest .name {
        font-size: 1.25em !important;
        text-decoration: bold;
    }

    .nopadleft {
        padding-left: 0 !important;
    }
    .nopadright {
        padding-right: 0 !important;
    }

    .latest-header {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .important-button {
        font-size: 1.75em;
    }
    .title {
        padding-left: 10px;
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .position {
        height: 100%;
    }
    .position>.row {
        height: 100%;
    }
    .position>.row>* {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.latest-header {
    font-weight: 400;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-headstarter-secondary {
    background-color: var(--headstarter-secondary) !important;
}

.btn.btn-headstarter-secondary,
.btn.btn-headstarter-primary:hover {
    color: #fff;
    background-color: var(--headstarter-secondary) !important;
    border-color: var(--headstarter-secondary) !important;
}
.btn.btn-headstarter-secondary:hover,
.btn.btn-headstarter-primary {
    color: #fff;
    background-color: var(--headstarter-primary) !important;
    border-color: var(--headstarter-primary) !important;
}

.important-button {
    width: 75%;
}

.carousel-inner, .carousel-inner > .carousel-item {
    height: 40vh;
}
.carousel-inner > .carousel-item > .container {
    width: 70%;
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators li {
    background-color: var(--headstarter-secondary);
}
.carousel-indicators li.active {
    background-color: white;/*var(--headstarter-primary);*/
    border: 2px solid black;
}
.carousel-item .logo-container {
    text-align:center
}
.carousel-item .logo-container img {
    display: inline-block;
}
.position h5 {
    font-weight: bolder !important;
}

aside {
    padding-bottom: 20px;
}

footer {
    background-color: var(--headstarter-primary);
    color: white;
	bottom: 0px;
	position: static;
	width: 100%;
	padding: 45px 0;
	margin-top: 100px;
}
footer ul.row>li {
    padding-bottom: 15px;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
}
ul.row li {
    list-style: none;
	color: inherit !important;
}
ul.row a {
	text-decoration: none;
	color: inherit !important;
}
.list-title {
	color: white;
}
ul.row {
	color: inherit !important;
}
ul.footer-list {
	margin: 0;
	padding: 0;
}
ul.social {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
	list-style: none;
	content: '';
	display: table;
	clear: both;
}

ul.social li {
	display: inline;
    list-style: none;
	padding: 5px 5px 5px 5px;
}
footer hr {
    background: white;
}

.data {
    text-align: left !important;
}

.modal-content {
    color: black;
}

@media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px solid #d7d7d7;
    }
    .col-md-border + .col-md-border {
        border-left: 1px solid #d7d7d7;
        margin-left: -1px;
    }
}
.circled, .btn-rounded {
  border: 1px solid transperant;
  border-radius: 10000px;
}
.btn-left {
    color: white !important;
    text-transform: none !important;
    background-image: linear-gradient(to right, #66cc66, #0099ff);
}

.btn-right {
    color: white !important;
    text-transform: none !important;
    background-image: linear-gradient(to right, #0099ff, #6600ff);
}
.btn-left-right {
    color: white !important;
    text-transform: none !important;
    background-image: linear-gradient(to right, #66cc66, #0099ff, #6600ff);
}
.jumbotron {
	background-color: rgba(0,0,0,0.35);
	background-blend-mode: darken;
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	-o-background-size: contain;
	background-position: center;
	background-image: url('/background.png');
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}

.jumbotron span {
    font-size: 3.5rem !important;
}

.jumbotron #homeHeading {
    font-size: 3rem !important;
}


@media (max-width: 992px) {
    .jumbotron {
      font-size: 1.5rem !important;
    }

    .jumbotron span {
        font-size: 2.5rem !important;
    }

    .jumbotron #homeHeading {
        font-size: 2rem !important;
    }

    .jumbotron .btn {
        font-size: 1.25rem !important;
    }
}

.badge-active {
    font-size: 0.9rem;
    background: #6c6;
    color: rgba(0,0,0,0.5);
}

 /* unvisited link */
a.link-default:link, .data a:link {
  color: white;
}

/* visited link */
a.link-default:visited, .data a:visited {
  color: white;
}

/* mouse over link */
a.link-default:hover, .data a:hover {
  color: white;
  text-decoration: underline;
}

/* selected link */
a.link-default:active, .data a:active {
  color: white;
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474a51;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7aceb6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7aceb6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.dropdown-menu, .dropdown-item {
    background-color: #474a51;
    color: white;
}

select {
    background: #474a51 !important;
    color: white !important;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
a[aria-disabled="true"] {
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}