{% extends 'core/en/template.html' %}
{% block title %} About Us {% endblock %}

{% block banner %}
    <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">About us</h3>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
      <!-- Welcome to Headstarter.eu -->
      <section class="section section-md">
        <div class="container">
          <div class="row default-styles row-30 align-items-center">
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>For students:</h3>
                  <ul>
                      <li>
                          Have a CV that will get you hired without any hesitation.
                      </li>
                      <li>
                          You reach countless businesses without a problem.
                      </li>
                      <li>
                          You get helpful first-hand information and tips.
                      </li>
                  </ul>
              </article>
            </div>
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>For companies:</h3>
                  <ul>
                      <li>
                        An account to showcase the best of your business.
                      </li>
                      <li>
                        Many enthusiastic young people to bring freshness and help grow your business.
                      </li>
                      <li>
                        You get helpful first-hand information and tips.
                      </li>
                  </ul>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md">
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>Out story</h3>
                  <p>
                  It all started one summer when we decided to find ourselves jobs and internships in order to learn new things and gain more experience. All of the doors were closed for us just because we were “young” and didn’t “have any experience”... At the beginning of the school year we noticed that our classmates are dealing with the same problem.</p>

                  <p> That’s why we decided our system needed to change. After a lot of thinking and hanging out in the sitting room of the Sofia High School of Mathematics we ended up with a solution - Headstarter. This is a platform which provides a centralized place for ambitious students who are looking for work experience and for companies who are on the search for their new young and motivated talents. </p>

              </article>
            </div>
            <div class="col-lg-6">
              <figure class="figure-responsive"><img src="/images/about-us-1-573x368.jpg" alt=""/>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md">
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-lg-12">
              <article class="box-info">
                  <h3>Our team</h3>
              </article>
            </div>
          </div>
          <div class="row row-30 align-items-center">
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/alex.jpg" alt=""/></figure>
                  <h5 class="text-center">Alex Tsvetanov</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Nadq.jpg" alt=""/></figure>
                  <h5 class="text-center">Nadejda Tsacheva</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Radi.jpg" alt=""/></figure>
                  <h5 class="text-center">Radostina Bogoslovova</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Rangel.jpg" alt=""/></figure>
                  <h5 class="text-center">Rangel Plachkov</h5>
              </div>
          </div>
          <div class="row row-30 align-items-center">
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Ivi.jpg" alt=""/></figure>
                  <h5 class="text-center">Ivana Peneva</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Zari.jpg" alt=""/></figure>
                  <h5 class="text-center">Lazarina Popova</h5>
              </div>
              <!--
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Lili.jpg" alt=""/></figure>
                  <h5 class="text-center">Лилия Панайотова</h5>
              </div>
            -->
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Bobi.jpg" alt=""/></figure>
                  <h5 class="text-center">Boris Vladimirov</h5>
              </div>
          </div>
        </div>
      </section>
{% endblock %}