{% extends 'core/en/template.html' %}
{% block title %} Успешно Кандидатстване {% endblock %}

{% block banner %}
    <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">How to create a CV?</h3>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
      <!-- Welcome to Headstarter.eu -->
      <section class="section section-md">
        <div class="container">
          <div class="row default-styles row-30 align-items-center">
            <div class="col-12">
                <p>Sending a CV is the first step to make when candidating for an internship. And in order to intrigue the eventual employer and to motivate him to invite you for an interview as soon as possible the CV should be successfully written.</p>
                <p>What does this mean?</p>
                <p>The information should be available, short and attractive and to present your skills, qualities and work experience in the best light.</p>
<br>
                <p>The conventional synonym for “autobiography” - CV, is actually an abbreviation for the latin phrase “Curriculum vitae” which literally translated means “The story of my life”. Simply put, CV is a short summary of personal and professional facts - a requirement when candidating for a new job (or an educational institution), thanks to which the employer sees if the applicant is suitable for the position. </p>
                <br>
                <p>Even though the standards for writing a CV vary in the different countries, this document has the same purpose everywhere - to present a picture of your whole professional history. In Bulgaria the European format for a CV is enforced - Europass, which has the purpose to make the understanding between the candidates with different nationalities easier and also accepts their skills outside the language barrier. Besides that, Europass acknowledges the qualifications which have been gained from illegitimate educational or work institutions as well.</p>
<br>
                <p>However, the presence of a universal CV form doesn’t only mean to fill in the columns by writing down everything that comes to your mind. You have to choose those qualities which you think of as your biggest priorities and thanks to which you can immediately intrigue the attention of the person who is looking through your CV. According to the research, the average employer reads the applicants’ autobiographies for 20-30 seconds and makes his decision on the basis of instantaneous impressions. And among 100 CV applications the employer will certainly not waste his time on reading all of the provided information, will he?
</p>
<br>
                <p>So what does one successfully structured CV contain?</p>
<br>
                <p><strong>Personal information</strong></p>
                <p>This is your business card - three names, address, phone number and an email address are required. Except them, it is desirable to write down your date of birth and nationality.</p>
<br>
                <p><strong>Projects and volunteering </strong></p>
<p>As a student we suppose that you don’t have work experience, let alone any that you can describe (selling chewing gum during recess doesn’t count). That’s why you could replace it with projects which you have developed in the past and the volunteering you have done (again, giving someone a chewing gum during recess doesn’t count). In this part of the CV you can include your awards and achievements but you have to be really careful so you don’t look too self-loving. Don’t overdo with the awards and write down the most important ones, according to the internship you want to apply for (For example, the student Ivan wants to apply for an internship as a programmer and has all of the points on the IT - Olympics; no one is interested in the fact that Ivan had won a cooking competition in his neighbourhood).
</p><br>
<p><strong>Education and training</strong></p>
<p>Supposing that you’re still a student and you have neither secondary, nor higher education, here you can describe all of your side abilities and acquired skills - foreign languages, computer literacy, communication, technical knowledge and specialized courses. If you think that it would be of importance, you could clarify the place you have acquired them and the level that you are on, too. In many cases exactly these additional skills prevail when choosing the employees.
</p><br>
<p><strong>Additional information</strong></p>
<p>Here you can write down any additional information which you consider will be useful for your application. This can be your side hobbies and interests, contacts, certificates, memberships in organizations and personal internet page (blog). 
</p><br>
<p>The successfully written CV distinguishes with literacy, structuredness and clarity. It has to be no longer than 3 pages, A4 format, typed on a computer (and printed, if submitted personally) and with an attached photo (you can use the one from your school book). Literary words and phrases should be used, concise statement and accurate facts. Don’t forget - by your CV you “sell” yourself in front of the employer and it is expected that the written matches your real qualities and skills. Try not to exaggerate. 
</p><br>
<p>The successfully written CV doesn’t guarantee you a position, but it surely will put you among the privileged ones. The formally written CV (which is easily recognized) can fail your chances to get the job of your dreams. 
</p>
            </div>
          </div>
        </div>
      </section>

{% endblock %}