{% extends 'template.html' %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='logo.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/homepage.css') }}" >
    <style>
        .formater {
            background: transparent !important;
            color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
        }
        .formater .collapse .card-body {
            background: transparent !important;
            color: white !important;
        }
        select {
            background: #474a51 !important;
            color: white !important;
        }
        .row {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block title %}
	Homepage :: Headstarter
{% endblock %}

{% block page_nav %}
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="header-content-inner container">
            <form action="" method="post">
                <center>
                    <span id="homeHeading" style="border-bottom: 1px solid white;">
                        Headstarter<small>.eu</small>
                    </span>
                    <br>
                    <span>Get your headstart on<br>the road to business.</span>
                </center>
                <br><br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <a href="#" onclick="$('#filters').toggle();" class="col-sm-4 btn btn-big btn-rounded btn-left">Филтрирай</a>
                    <div class="col-sm-2"></div>
                    <button type="submit" class="col-sm-4 btn-rounded btn btn-big btn-rounded btn-right">Търси <i class="fas fa-search"></i></button>
                    <div class="col-sm-1"></div>
                </div>
                <div id="filters" style="display: none;" class="row">
                    <div class="col-12 form-group">
                        Обява:
                        <select class="form-control" name="position"><!-- size="1">-->
                            <option selected value="-1">Всички</option>
                            {% for position in positions %}
                                <option value="{{ position.id }}">{{ position.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container">
        {% for student in students %}
            <div class="row">
                <big>{{ student.user.name }}</big>
            </div>
            <div class="row"></div>
            <div class="row">
                <a href="{{url_for('v1pre_routes.position_view', positionId=student.position_id)}}" class="link-default">{{student.position.name}}</a>
            </div>
            <div class="row"></div>
            <div class="row">
                <a href="{{url_for('v1pre_routes.profile_view', user_id=student.user.id)}}" style="font-size: 1rem;" class="btn-rounded btn btn-rounded btn-right">Разгледай кандидатурата</a>
            </div>
            <hr>
        {% endfor %}
    </main>
{% endblock %}

{% block js %}
		<!-- Plugin JavaScript -->
		<script src="/static/jquery.easing.min.js"></script>
		<script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
		<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Theme JavaScript -->
		<script src="/static/js/creative.min.js"></script>
<script>
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      $('').show();
    });
    $('#myCollapsible').on('hidden.bs.collapse', function () {
      $('').show();
    });
</script>
{% endblock %}
