{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('.static', filename='mini-logo.css') }}" >
<link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >

{% endblock %}

{% block content %}
<div class="offset-md-4 col-md-4">
    <div class="card">
        <article class="card-body">
            <a href="{{ url_for ('company_login') }}" class="float-right btn btn-outline-primary">Sign in</a>
            <h4 class="card-title mb-4 mt-1">Sign up</h4>
            <div class="row">
                <form class="col-md-12" method="POST">
                    <div class="form-group">
                        <input name="code" class="form-control" placeholder="Verify code" type="text">
                    </div> <!-- form-group// -->
                    <input name="type" type="hidden" value="prelogin">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Start your registration  </button>
                            </div> <!-- form-group// -->
                        </div>
                    </div> <!-- .row// -->
                </form>
            </div>
        </article>
    </div> <!-- card.// -->

</div>
{% endblock %}
