{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('.static', filename='mini-logo.css') }}" >
<link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
<style> .formater { background-color: transparent !important; } </style>
{% endblock %}

{% block title %}
	Register :: Company :: Headstarter
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="header-content-inner container">
            <center>
                <span id="homeHeading" style="border-bottom: 1px solid white;">
                    Headstarter<small>.eu</small>
                </span>
                <br>
                <span>Get your headstart on<br>the road to business.</span>
            </center>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="offset-md-2 col-md-8">
    <div class="card">
        <div class="card-body">
            <a href="{{ url_for ('company_login')}}" class="float-right btn btn-outline-primary">Sign in</a>
            <h4 class="card-title mb-4 mt-1">Sign up</h4>
            <div class="row">
                <form class="col-md-12" method="POST">
                    <div class="form-group">
                        <input placeholder="First name" name="fname" class="form-control" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input placeholder="Last name" name="lname" class="form-control" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input placeholder="Email" name="email" class="form-control" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input name="password" class="form-control" placeholder="Password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input name="verify_password" class="form-control" placeholder="Confirm your password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input name="company_code" class="form-control" placeholder="Company code" type="text">
                    </div> <!-- form-group// -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Sign up </button>
                            </div> <!-- form-group// -->
                        </div>
                    </div> <!-- .row// -->
                </form>
            </div>
        </article>
    </div> <!-- card.// -->

</div>
{% endblock %}
