:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    --headstarter-secondary: #474a51;/*rgb(20, 98, 125);*/
    --headstarter-primary: #2e3035;/*rgb(71, 74, 81);rgb(0, 81, 95);*/
}
.custom-logo, .navbar-brand {
	width: 50px !important;
	height: 50px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}
header {
	background-color: rgba(0,0,0,0.35);
	background-blend-mode: darken;
}
body {
	background: #474a51;
}
#contact {
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 1), 0 -6px 20px 0 rgba(0, 0, 0, 1);
}
#about .panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
	margin-bottom: 23px;
}
#about, .panel-body, #contact {
	background: #2e3035 !important;
	color: white !important;
}
.panel-body *, #contact * {
	color: white !important;
}
nav {
	background-color: rgb(46, 48, 53) !important;
	border: 0px solid black !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
}
nav * {
	line-height: 24px;
	font-size: 16px;
	font-weight: 400;
}
.logo {
width: 30px !important;
height: 30px !important;
padding: 0px 0px 0px 0px !important;
margin: 0px 0px 0px 0px !important;
position: relative;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
left: 50%;
}

footer {
    background-color: var(--headstarter-primary);
    color: white;
	bottom: 0px;
	position: static;
	width: 100%;
	padding: 45px 0 ;
}
footer ul.row>li {
    padding-bottom: 15px;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
}
ul.row li {
    list-style: none;
	color: inherit !important;
}
ul.row a {
	text-decoration: none;
	color: inherit !important;
}
.list-title {
	color: white;
}
ul.row {
	color: inherit !important;
}
ul.footer-list {
	margin: 0;
	padding: 0;
}
ul.social {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
	list-style: none;
	content: '';
	display: table;
	clear: both;
}

ul.social li {
	display: inline;
    list-style: none;
	padding: 5px 5px 5px 5px;
}
footer hr {
    background: white;
}

footer {
background-color: rgb(46, 48, 53);
bottom: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 15px;
padding-right: 15px;
position: static;
text-align: left;
width: 1140px;
}
.container h3, .container p {
    color: white;
}
hr {
    border-color: white;
    border-width: 3px;
    max-width: none !important;
}

hr.primary {
    max-width: 300px !important;
}

a.col-sm-4.btn.btn-big.btn-rounded {
    white-space: pre-line;
}

.masthead {
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;
    -o-background-size: contain !important;
    background-position: center !important;
    background-image: url('/background.png') !important;
    background-color: rgba(0,0,0,0.35) !important;
    background-blend-mode: darken !important;
    background-repeat: no-repeat !important;
}
.masthead h1, .masthead p {
    font-size: 3.5rem !important;
}
#mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background-color: rgb(46, 48, 53) !important;
}
a, a:focus, a:hover, a:visited,
.btn, .btn:focus, .btn:hover, .btn:visited {
    color: white;
}
.nav-link {
    background-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box !important;
    color: rgba(255, 255, 255, 0.5) !important;
    display: block !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    list-style-image: none !important;
    list-style-position: outside !important;
    list-style-type: none !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 8px !important;
    text-align: center !important;
    text-decoration: none !important;
    text-decoration-color: rgba(255, 255, 255, 0.5) !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
}

.btn.btn-headstarter-secondary,
.btn.btn-headstarter-primary:hover {
    color: #fff !important;
    background-color: var(--headstarter-secondary) !important;
    border-color: var(--headstarter-secondary) !important;
}
.btn.btn-headstarter-secondary:hover,
.btn.btn-headstarter-primary {
    color: #fff !important;
    background-color: var(--headstarter-primary) !important;
    border-color: var(--headstarter-primary) !important;
}

a.col-sm-4.btn.btn-big.btn-rounded {
    white-space: pre-line;
    font-size: 32px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

a[aria-disabled="true"] {
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
}

@media (max-width: 992px) {
    a.col-sm-4.btn.btn-big.btn-rounded {
        font-size: 1.25rem !important;
    }
}