.square:before {
  content: '';
  width: 0;
}

.square:before {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.square:before {
  padding-top: 100%;
  /* makes expand to a square */
}

.circled, .btn-rounded {
  border: 1px solid transperant;
  border-radius: 10000px;
}
/*
[class^="col"] {
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 5px white;
  padding: 0;
  text-align: center;
  background: url(http://lorempixel.com/400/200) tomato;
  background-size: cover;
}
*/
.header-content-inner * {
    font-size: 48pt;
    line-height: 1 !important;
}
.header-content-inner small {
    font-size: 36pt;
}
.btn-left {
    text-transform: none !important;
    background-image: linear-gradient(to right, #66cc66, #0099ff);
}

.btn-right {
    text-transform: none !important;
    background-image: linear-gradient(to right, #0099ff, #6600ff);
}

.left-back {
    background-image: linear-gradient(to right, #66cc66, #0099ff);
}

.right-back {
    background-image: linear-gradient(to right, #0099ff, #6600ff);
}

.btn {
    max-width: 100%;
    font-size: 3rem;
}

.bg-page {
    background-color: #474a51;
}