.square:before {
  content: '';
  width: 0;
}

.square:before {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.square:before {
  padding-top: 100%;
  /* makes expand to a square */
}

.circled, .btn-rounded {
  border: 1px solid transperant;
  border-radius: 10000px;
}

.header-content-inner * {
    font-size: 48pt;
    line-height: 1 !important;
}
.header-content-inner small {
    font-size: 36pt;
}
@media(max-width: 769px) {
.header-content-inner * {
    font-size: 36pt;
    line-height: 1 !important;
}
.header-content-inner small {
    font-size: 24pt;
}
.col-xs-6 h2 {
    font-size: 170%;
}
}
.btn-left {
    text-transform: none !important;
    background-image: linear-gradient(to right, #66cc66, #0099ff);
}

.btn-right {
    text-transform: none !important;
    background-image: linear-gradient(to right, #0099ff, #6600ff);
}

.left-back {
    background-image: linear-gradient(to right, #66cc66, #0099ff);
}

.right-back {
    background-image: linear-gradient(to right, #0099ff, #6600ff);
}

.btn {
    max-width: 100%;
    font-size: 3rem;
}

.bg-page {
    background-color: #2e3035;
}