{% extends 'template.html' %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='mini-logo.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='editor.css') }}" >
<style>
.formater {
    background: transparent !important;
}
.mini-logo-header .logo {
    height: 100% !important;
    background: transparent !important;
    color: white !important;
}
</style>
{% endblock %}

{% block content %}
    <div class="mini-logo-header bg-headstarter-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo">
                    <center>
                        <img class="mini-logo" src="{{ application.position.company.logo }}" />
                        <h1>{{ application.user.username }}</h1>
                    </center>
                </div>
                <div class="col-md-7 description">
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 description">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <!-- include summernote-bg-BG -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/lang/summernote-bg-BG.js"></script>
    <script src="{{ url_for ('.static', filename='js/editable.js') }}"> </script>
{% endblock %}