header.entry-header {
    background-color: rgba(0,0,0,0.35);
    background-blend-mode: darken;
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-position: center;
    background-image: url('/background.png');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.darken {
    background-color: #474a51 !important;
}
.site-header {
    position: inherit;
    background: #2e3035;
}
p {
    color: inherit;
}