{% extends 'template.html' %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='logo.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/homepage.css') }}" >
    <style>
        .formater {
            background: transparent !important;
            color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
        }
    </style>
{% endblock %}

{% block title %}
	Blog :: Headstarter
{% endblock %}

{% block page_nav %}
    <li class="nav-item">
        <a href="#doing" class="nav-link page-scroll">За Headstarter</a>
    </li>
    <li class="nav-item">
        <a href="#aim" class="nav-link page-scroll">Цел</a>
    </li>
    <li class="nav-item">
        <a href="#aboutus" class="nav-link page-scroll">За нас</a>
    </li>
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="header-content-inner container">
            <center>
                <span id="homeHeading" style="border-bottom: 1px solid white;">
                    Headstarter<small>.eu</small>
                </span>
                <br>
                <span>Get your headstart on<br>the road to business.</span>
            </center>
            <br><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <a href="{{ url_for ('v1pre_routes.browse_offers') }}" class="col-sm-4 btn btn-big btn-rounded btn-left">Намери стаж</a>
                <div class="col-sm-2"></div>
                <a href="{{ url_for ('company_login') }}" class="col-sm-4 btn btn-big btn-rounded btn-right">Предложи стаж</a>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <section id="doing" class="col-6">
                <div class="title row">
                    <center style="width: 100%;"><big>Какво правим?</big></center>
                </div>
                <hr>
                <p>Ние от Headstarter ти помагаме да напишеш свое CV и да намериш стаж, който да удовлетворява интересите ти. Ние мислим за твоето бъдеще и искаме да направим професионалните ти решения по-лесни за вземане.</p>
            </section>
            <section class="col-6">
                <img class="img-fluid" src="/static/img/logo.png">
            </section>
        </div>
        <div class="row">
            <section class="col-6">
                <img class="img-fluid" src="/static/img/logo.png">
            </section>
            <section id="aim" class="col-6">
                <div class="title row">
                    <center style="width: 100%;"><big>Какво целим?</big></center>
                </div>
                <hr>
                <p>Бизнесът в България страда от дефицит на млади кадри, които „бягат“ от България заради липсата на работни места, които да удовлетворяват нуждите на младите и да не изискват предварителен работен стаж. Ние от Headstarter информираме учениците за стажантските програми. Целта ни е да предоставим бърз, лесен и удобен начин за връзка между учениците и студентите, които искат да натрупат професионален опит, и бизнеса.</p>
            </section>
        </div>
        <div class="row">
            <section id="aboutus" class="col-6">
                <div class="title row">
                    <center style="width: 100%;"><big>Кои сме ние?</big></center>
                </div>
                <hr>
                <p>Ние сме екип от ученици от Софийската математическа гимназия. Разбираме колко натоварващо може да бъде избирането на перфектната специалност или намирането на работа, с която да усъвършенстваш наученото в университета. Затова и разработваме проект, който да е в твоя полза.</p>
            </section>
            <section class="col-6">
                <img class="img-fluid" src="/static/img/logo.png">
            </section>
        </div>
    </main>
{% endblock %}

{% block js %}
		<!-- Plugin JavaScript -->
		<script src="/static/jquery.easing.min.js"></script>
		<script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
		<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Theme JavaScript -->
		<script src="/static/js/creative.min.js"></script>
{% endblock %}
