{% extends 'template.html' %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='mini-logo.css') }}" >
    <link rel="stylesheet" href="{{ url_for('.static', filename='card.css') }}" >
    
{% endblock %}

{% block content %}
{{a}} <br> {{b}} <br>
    <div class="mini-logo-header row">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo">
                    <center>
                        <img class="mini-logo" src="{{ company.logo }}" />
                        <h1>{{ company.name }}</h1>
                    </center>
                </div>
                <div class="col-md-7 description">
                    {{ company.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="positions" class="row">
            <h1>Open positions</h1>
        </div>
        <div class="row">
            {% for position in company.positions %}
                <div class="card col-md-4">
                    <h2>{{ position.name }}</h2>
                    <a href="{{ url_for ('v1pre_routes.position_view', positionId = position.id) }}" class="fas fa-arrow-circle-right right-arrow"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
