{% extends 'core/bg/template.html' %}

{% block title %} Начало {% endblock %}

{% set homepage = True %}

{% block content %}
      <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">404</h3>
          </div>
        </div>
      </section>
      <section class="section section-md text-center">
        <div class="container">
          <h2 class="text-gray-3"><span class="text-primary">Oops!</span> Page Not found</h2>
          <h5>You may have mistyped the address or the page may have moved</h5>
          <div class="group group-sm group-middle"><a class="button button-gray-800-outline" href="/">Go to home page</a></div>
        </div>
      </section>
{% endblock %}