<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="google-site-verification" content="eCU54DH_8vQnzWO0Q3fXoQmalvA3rCjiXSH6mZdDgkg" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
		/>
		<meta name="description" content="">
		<meta name="author" content="Headstarter">
		<title>Headstarter</title>
		<!-- Bootstrap Core CSS -->
		<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link rel='stylesheet'  href='//fonts.googleapis.com/icon?family=Material+Icons'>
		<!-- Plugin CSS -->
		<link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://www.wfonts.com/download/data/2014/11/30/century-gothic/CenturyGothic.ttf"/>
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		
		<link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet"/>
		
		<!-- Theme CSS -->
		<link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/starting.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/homehomepage.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<style>

		</style>
	</head>
	<body id="page-top">
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/p"><img class="logo" src="/static/img/logo.png"></a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/p">Headstarter</a></li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for ('v1pre_routes.browse_offers') }}">Намери 	стаж</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for ('company_signup') }}">Предложи стаж</a>
							</li>
							<li class="nav-item disabled">
								<a class="nav-link" aria-disabled="true" href="{{ url_for('blog_routes.homepage') }}">Блог</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
								<li><a class="nav-link" href="#" data-toggle="modal" data-target="#signup_student_company"><i class="fas fa-user-plus"></i> Регистрация</a></li>
								<li><a class="nav-link" href="#" data-toggle="modal" data-target="#student_company"><i class="fas fa-user"></i> Вход</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<div class="header-content">
				<div class="header-content-inner">
					<span id="homeHeading">
						Headstarter<small>.eu</small>
					</span>
					<hr class="primary">
					<span>Get your headstart on<br>the road to business.</span>
					<br><br><br>
					<div class="row">
						<div class="col-sm-1"></div>
						<a href="{{ url_for ('v1pre_routes.browse_offers') }}" class="col-sm-4 btn btn-big btn-rounded btn-left">Намери стаж</a>
						<div class="col-sm-2"></div>
						<a href="{{ url_for ('company_login') }}" class="col-sm-4 btn btn-big btn-rounded btn-right">Предложи стаж</a>
						<div class="col-sm-1"></div>
					</div>
				</div>
			</div>
		</header>
		<div class="bg-page" id="about">
			<div class="container">
				<div class="row">
					<section id="doing" class="col-md-6">
						<div class="title row">
							<center style="width: 100%;"><big>Какво правим?</big></center>
						</div>
						<hr>
						<p>Ние от Headstarter ти помагаме да напишеш свое CV и да намериш стаж, който да удовлетворява интересите ти. Ние мислим за твоето бъдеще и искаме да направим професионалните ти решения по-лесни за вземане.</p>
					</section>
					<section class="col-md-6">
						<img class="img-fluid" src="/static/img/logo.png">
					</section>
				</div>
				<hr>
				<div class="row">
					<section id="aim" class="col-md-6">
						<div class="title row">
							<center style="width: 100%;"><big>Какво целим?</big></center>
						</div>
						<hr>
						<p>Бизнесът в България страда от дефицит на млади кадри, които „бягат“ от България заради липсата на работни места, които да удовлетворяват нуждите на младите и да не изискват предварителен работен стаж. Ние от Headstarter информираме учениците за стажантските програми. Целта ни е да предоставим бърз, лесен и удобен начин за връзка между учениците и студентите, които искат да натрупат професионален опит, и бизнеса.</p>
					</section>
					<section class="col-md-6">
						<img class="img-fluid" src="/static/img/logo.png">
					</section>
				</div>
				<hr>
				<div class="row">
					<section id="aboutus" class="col-md-6">
						<div class="title row">
							<center style="width: 100%;"><big>Кои сме ние?</big></center>
						</div>
						<hr>
						<p>Ние сме екип от ученици от Софийската математическа гимназия. Разбираме колко натоварващо може да бъде избирането на перфектната специалност или намирането на работа, с която да усъвършенстваш наученото в университета. Затова и разработваме проект, който да е в твоя полза.</p>
					</section>
					<section class="col-md-6">
						<img class="img-fluid" src="/static/img/logo.png">
					</section>
				</div>
			</div>
		</div>
		<footer class="bg-page" style="width:100%;">
			<div class="container container-holder">
				<ul class="row">
					<li class="col-md-4 col-sm-12 col-xs-12 footer-list-wrapper">
						<h3 class="list-title">Headstarter</h3>
						<hr>
						<ul class="footer-list">
							<li><a href="/p#about">За нас</a></li>
							<li><a href="/#about">Екип</a></li>
						</ul>
					</li>
					<li class="col-md-4 col-sm-12 col-xs-12 footer-list-wrapper">
						<h3 class="list-title">С подкрепата на</h3>
						<hr>
						<ul class="footer-list">
							<li><a target="_blank" href="https://techedu.bg/">TechEdu++</a></li>
							<li><a target="_blank" href="https://biodit.com/">Biodit</a></li>
							<li><a target="_blank" href="https://teenovator.bg/">Teenovator</a></li>
						</ul>
					</li>
					<li class="col-md-4 col-sm-12 col-xs-12 footer-list-wrapper">
						<ul class="social">
							<li><a href="https://www.facebook.com/headstartercareer" target="_blank" class="icon-btn"><span class="fab fa-2x fa-facebook-f"></span></a></li>
							<li><a href="http://github.com/Headstarter/" target="_blank" class="icon-btn"><span class="fab fa-2x fa-github"></span></a></li>
						</ul>
						<div class="all-rights-reserved">
							<p>© 2019 Headstarter</p>
							<p>Всички права запазени.</p>
							<p> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/in/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/2.5/in/88x31.png"></a></p>
							<p> <a rel="terms" href="/terms">Terms &amp; conditions</a></p>
						</div>
					</li>
				</ul>
			</div>
		</footer>
		<!-- Modal -->
		<div class="modal fade" id="student_company" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Влез в системата като</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-md-4 offset-md-1">
						<a class="w-100 btn btn-raised btn-headstarter-primary" href="{{ url_for ('student_login') }}"><h4>Ученик</h4></a>
					</div>
					<div class="col-md-4 offset-md-2">
						<a class="w-100 btn btn-raised btn-headstarter-primary" href="{{ url_for ('company_login') }}"><h4>Компания</h4></a>
					</div>
				</div>
			  </div>
			  <div class="modal-footer">
				<a class="btn btn-raised" data-dismiss="modal"><h4>Затвори</h4></a>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Modal-->
		<div class="modal fade" id="signup_student_company" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="signup_exampleModalLabel">Регистрирай се в системата като</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="offset-md-1 col-md-4">
						<a class="w-100 btn btn-raised btn-headstarter-primary" href="{{ url_for ('student_signup') }}"><h4>Ученик</h4></a>
					</div>
					<div class="col-md-4 offset-md-2">
						<a class="w-100 btn btn-raised btn-headstarter-primary" href="{{ url_for ('company_signup') }}"><h4>Компания</h4></a>
					</div>
				</div>
			  </div>
			  <div class="modal-footer">
				<a class="btn btn-raised" data-dismiss="modal"><h4>Затвори</h4></a>
			  </div>
			</div>
		  </div>
		</div>
		<!-- jQuery -->
		<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
		<!-- Plugin JavaScript -->
		<script src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
		<!-- Theme JavaScript -->
		<script src="{{ url_for('static', filename='js/creative.min.js') }}"></script>
		<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
	</body>
</html>


